In [54]:
import numpy as np
import pandas as pd
import  matplotlib.pyplot as plt
from sklearn.model_selection import KFold, StratifiedKFold, LeavePOut, ShuffleSplit, LeaveOneOut
from sklearn.model_selection import cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.tree import DecisionTreeClassifier

In [7]:
df = pd.read_csv('heart_cleveland_upload.csv')

In [8]:
df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [10]:
X = df.iloc[:,:-1]

In [11]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2

In [12]:
y = df.iloc[:,-1:]

In [13]:
y

     condition
0            0
1            0
2            0
3            1
4            0
..         ...
292          1
293          1
294          1
295          0
296          1

[297 rows x 1 columns]

In [19]:
gnb = GaussianNB()
k1_fold = KFold(n_splits = 11)
scores = cross_val_score(gnb, X, y.values.ravel(), cv = k1_fold)
print("Cross validation score, ", scores)
print("Average cv scores: ", scores.mean())
print("Number of cv scores used in averages: ", len(scores))

Cross validation score,  [0.74074074 0.74074074 0.92592593 0.85185185 0.81481481 0.96296296
 0.85185185 0.81481481 0.92592593 0.85185185 0.66666667]
Average cv scores:  0.8316498316498315
Number of cv scores used in averages:  11

In [24]:
lr = LogisticRegression(max_iter = 2000)
k2_fold = KFold(n_splits = 27)
scores = cross_val_score(lr, X, y.values.ravel(), cv = k2_fold)
print("Cross validation score, ", scores)
print("Average cv scores: ", scores.mean())
print("Number of cv scores used in averages: ", len(scores))

Cross validation score,  [0.72727273 0.63636364 0.81818182 0.72727273 0.90909091 1.
 1.         0.72727273 0.81818182 0.72727273 0.81818182 0.90909091
 0.81818182 0.90909091 0.90909091 0.90909091 0.72727273 0.81818182
 0.81818182 0.90909091 0.81818182 0.90909091 1.         0.72727273
 1.         0.72727273 0.81818182]
Average cv scores:  0.8383838383838383
Number of cv scores used in averages:  27

In [29]:
sv = SVC(kernel='rbf')
k3_fold = KFold(n_splits = 11)
scores = cross_val_score(sv, X, y.values.ravel(), cv = k3_fold)
print("Cross validation score, ", scores)
print("Average cv scores: ", scores.mean())
print("Number of cv scores used in averages: ", len(scores))

Cross validation score,  [0.59259259 0.77777778 0.77777778 0.59259259 0.74074074 0.88888889
 0.44444444 0.2962963  0.77777778 0.66666667 0.51851852]
Average cv scores:  0.6430976430976431
Number of cv scores used in averages:  11

In [50]:
rf = RandomForestClassifier()
k4_fold = KFold(n_splits = 9)
scores = cross_val_score(rf, X, y.values.ravel(), cv = k4_fold)
print("Cross validation score, ", scores)
print("Average cv scores: ", scores.mean())
print("Number of cv scores used in averages: ", len(scores))

Cross validation score,  [0.66666667 0.84848485 0.72727273 0.93939394 0.84848485 0.78787879
 0.84848485 0.90909091 0.78787879]
Average cv scores:  0.8181818181818181
Number of cv scores used in averages:  9

In [55]:
rf1 = RandomForestClassifier()
sk_folds = StratifiedKFold(n_splits = 9)
scores = cross_val_score(rf1, X, y.values.ravel(), cv = sk_folds)
print("Cross validation score, ", scores)
print("Average cv scores: ", scores.mean())
print("Number of cv scores used in averages: ", len(scores))

Cross validation score,  [0.54545455 0.63636364 0.87878788 0.75757576 0.78787879 0.96969697
 0.93939394 0.63636364 0.84848485]
Average cv scores:  0.7777777777777777
Number of cv scores used in averages:  9

In [56]:
rf2 = RandomForestClassifier()
loo = LeaveOneOut()
scores = cross_val_score(rf2, X, y.values.ravel(), cv = loo)
print("Cross validation score, ", scores)
print("Average cv scores: ", scores.mean())
print("Number of cv scores used in averages: ", len(scores))

Cross validation score,  [0. 1. 1. 0. 1. 0. 1. 1. 1. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 1.
 1. 1. 0. 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1.
 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 1. 0. 1. 0. 0. 1. 1.
 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1.
 1. 0. 1. 1. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 0. 1.
 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 0. 0. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1.
 1. 1. 0. 1. 0. 1. 1. 1. 1.]
Average cv scores:  0.8249158249158249
Number of cv scores used in averages:  297

In [58]:
rf4 = RandomForestClassifier()
ss = ShuffleSplit(train_size=0.6, test_size=0.3, n_splits = 9)
scores = cross_val_score(rf4, X, y.values.ravel(), cv = ss)
print("Cross validation score, ", scores)
print("Average cv scores: ", scores.mean())
print("Number of cv scores used in averages: ", len(scores))

Cross validation score,  [0.77777778 0.82222222 0.81111111 0.81111111 0.85555556 0.78888889
 0.8        0.8        0.8       ]
Average cv scores:  0.8074074074074074
Number of cv scores used in averages:  9

In [49]:
dc = DecisionTreeClassifier()
k5_fold = KFold(n_splits = 11)
scores = cross_val_score(dc, X, y.values.ravel(), cv = k5_fold)
print("Cross validation score, ", scores)
print("Average cv scores: ", scores.mean())
print("Number of cv scores used in averages: ", len(scores))

Cross validation score,  [0.55555556 0.74074074 0.77777778 0.62962963 0.88888889 0.62962963
 0.7037037  0.66666667 0.74074074 0.81481481 0.62962963]
Average cv scores:  0.7070707070707071
Number of cv scores used in averages:  11

In [44]:
clf1 = LogisticRegression(max_iter = 2000)
clf2 = RandomForestClassifier()
clf3 = GaussianNB()
vc = VotingClassifier(estimators=[('RandomForest', clf1), ('Logistics',clf2),('Gaussian',clf3)], voting='hard')
k6_fold = KFold(n_splits = 33)
scores = cross_val_score(vc, X, y.values.ravel(), cv = k6_fold)
print("Cross validation score, ", scores)
print("Average cv scores: ", scores.mean())
print("Number of cv scores used in averages: ", len(scores))

Cross validation score,  [0.77777778 0.55555556 0.77777778 0.44444444 1.         0.77777778
 1.         1.         0.77777778 0.88888889 0.66666667 0.88888889
 0.66666667 0.88888889 0.77777778 0.88888889 1.         1.
 0.88888889 0.77777778 0.88888889 0.77777778 0.88888889 0.88888889
 0.88888889 0.77777778 1.         1.         0.66666667 0.88888889
 0.77777778 0.77777778 0.66666667]
Average cv scores:  0.8282828282828283
Number of cv scores used in averages:  33