In [12]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as pt

In [13]:
pd = pd.read_csv('heart_cleveland_upload.csv')

In [14]:
pd.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [15]:
pd.shape

(297, 14)

In [16]:
pd.isna().sum()

age          0
sex          0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca           0
thal         0
condition    0
dtype: int64

In [17]:
x = pd.iloc[:,:-1]

In [18]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2

In [19]:
y = pd.iloc[:,-1:]

In [20]:
y

     condition
0            0
1            0
2            0
3            1
4            0
..         ...
292          1
293          1
294          1
295          0
296          1

[297 rows x 1 columns]

In [31]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import VotingClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score 
for i in range(200):
    xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=i)
    rfc = RandomForestClassifier()
    # rfc.fit(xtrain, ytrain.values.ravel())
    # gc = GaussianNB()
    lr = LogisticRegression(max_iter=2000)
    # lr.fit(xtrain, ytrain.values.ravel())
    vc = VotingClassifier(estimators=[('RandomForest', rfc), ('Logistics',lr)], voting='hard')
    vc.fit(xtrain, ytrain.values.ravel())
    v_predict = vc.predict(xtest)
    print(i, accuracy_score(ytest, v_predict))

0 0.7666666666666667
1 0.85
2 0.8333333333333334
3 0.8166666666666667
4 0.8
5 0.8666666666666667
6 0.8333333333333334
7 0.9166666666666666
8 0.8
9 0.8166666666666667
10 0.85
11 0.85
12 0.7333333333333333
13 0.8
14 0.9
15 0.8166666666666667
16 0.8
17 0.8833333333333333
18 0.8333333333333334
19 0.8833333333333333
20 0.8333333333333334
21 0.85
22 0.8833333333333333
23 0.9333333333333333
24 0.85
25 0.85
26 0.85
27 0.8666666666666667
28 0.7833333333333333
29 0.8333333333333334
30 0.8333333333333334
31 0.85
32 0.7833333333333333
33 0.8833333333333333
34 0.8666666666666667
35 0.9
36 0.8333333333333334
37 0.9166666666666666
38 0.7166666666666667
39 0.8166666666666667
40 0.7666666666666667
41 0.8333333333333334
42 0.7666666666666667
43 0.8166666666666667
44 0.85
45 0.8333333333333334
46 0.7666666666666667
47 0.8166666666666667
48 0.7333333333333333
49 0.7833333333333333
50 0.9
51 0.85
52 0.8666666666666667
53 0.8
54 0.75
55 0.8666666666666667
56 0.8666666666666667
57 0.9
58 0.8666666666666667
59 0.8333333333333334
60 0.7666666666666667
61 0.85
62 0.8666666666666667
63 0.8166666666666667
64 0.85
65 0.85
66 0.8166666666666667
67 0.8666666666666667
68 0.8666666666666667
69 0.85
70 0.85
71 0.8666666666666667
72 0.8833333333333333
73 0.8833333333333333
74 0.8333333333333334
75 0.9
76 0.8333333333333334
77 0.85
78 0.9
79 0.75
80 0.8333333333333334
81 0.8333333333333334
82 0.85
83 0.9166666666666666
84 0.75
85 0.9
86 0.85
87 0.7833333333333333
88 0.8166666666666667
89 0.8
90 0.8333333333333334
91 0.8
92 0.8666666666666667
93 0.8333333333333334
94 0.8666666666666667
95 0.8666666666666667
96 0.7666666666666667
97 0.9
98 0.85
99 0.8333333333333334
100 0.8833333333333333
101 0.8166666666666667
102 0.9
103 0.8166666666666667
104 0.85
105 0.8666666666666667
106 0.8333333333333334
107 0.8333333333333334
108 0.85
109 0.8
110 0.8833333333333333
111 0.8333333333333334
112 0.8
113 0.8
114 0.8166666666666667
115 0.7833333333333333
116 0.8166666666666667
117 0.9333333333333333
118 0.8333333333333334
119 0.8666666666666667
120 0.8
121 0.8
122 0.8
123 0.85
124 0.7666666666666667
125 0.85
126 0.8666666666666667
127 0.85
128 0.8166666666666667
129 0.85
130 0.8833333333333333
131 0.8333333333333334
132 0.9
133 0.8666666666666667
134 0.8
135 0.8166666666666667
136 0.8333333333333334
137 0.8166666666666667
138 0.8666666666666667
139 0.85
140 0.8333333333333334
141 0.8333333333333334
142 0.8333333333333334
143 0.8333333333333334
144 0.8666666666666667
145 0.85
146 0.8166666666666667
147 0.7833333333333333
148 0.85
149 0.8166666666666667
150 0.8
151 0.9
152 0.7333333333333333
153 0.8
154 0.8166666666666667
155 0.8333333333333334
156 0.85
157 0.8
158 0.8333333333333334
159 0.8333333333333334
160 0.9166666666666666
161 0.8833333333333333
162 0.8333333333333334
163 0.8666666666666667
164 0.8666666666666667
165 0.8
166 0.8166666666666667
167 0.8666666666666667
168 0.8
169 0.8166666666666667
170 0.8
171 0.85
172 0.9
173 0.8166666666666667
174 0.8166666666666667
175 0.8
176 0.8833333333333333
177 0.8
178 0.7
179 0.7666666666666667
180 0.85
181 0.9
182 0.8
183 0.7833333333333333
184 0.9
185 0.85
186 0.8666666666666667
187 0.7666666666666667
188 0.8166666666666667
189 0.8166666666666667
190 0.8166666666666667
191 0.8166666666666667
192 0.9
193 0.8166666666666667
194 0.8
195 0.8166666666666667
196 0.85
197 0.9
198 0.85
199 0.9