In [44]:
#import models
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

from sklearn.ensemble import VotingClassifier

import pandas as pd 
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [56]:
df = pd.read_csv('heart.csv')

In [57]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2,1
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2,1
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2,1
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2,1

In [60]:
df.shape

(297, 14)

In [61]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [62]:
df.shape

(297, 14)

In [63]:
df.shape[0]

297

In [64]:
df.shape[1]

14

In [65]:
rows = df.shape[0]
cols = df.shape[1]
print(rows, cols)

297 14

In [66]:
import os 
os.listdir()

['processed_cleveland_data3.csv',
 'README.md',
 'heart_random.ipynb',
 'processed_cleveland_data2.csv',
 'svm.ipynb',
 'voting_ensemble1.ipynb',
 'naivebayes.ipynb',
 'heart.csv',
 'cross_valid.ipynb',
 '.git',
 'heart_cleveland_upload.csv',
 'heart_cleveland.ipynb',
 'processed_cleveland1.csv']

In [68]:
x = df.drop('condition', axis=1)
y = df['condition']

In [69]:
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2

In [70]:
y

0      0
1      0
2      0
3      1
4      0
      ..
292    1
293    1
294    1
295    0
296    1
Name: condition, Length: 297, dtype: int64

In [71]:
for i in (0, 5, 7, 31, 47, 51, 58, 62, 66, 75, 86, 88, 126, 131,135, 141, 142, 162, 201, 243):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=i)
    log_clf = LogisticRegression()
    rnd_clf = RandomForestClassifier()
    #svm_clf = SVC()
    #knn_clf = KNeighborsClassifier(n_neighbors=5)
    nbg_clf = GaussianNB()
    voting_clf = VotingClassifier(estimators=[('lr', log_clf), ('rf', rnd_clf),('nb', nbg_clf)], voting='hard')
    for clf in (log_clf, rnd_clf, nbg_clf, voting_clf):
        clf.fit(x_train, y_train)
        y_pred = clf.predict(x_test)
        print(i, clf.__class__.__name__, accuracy_score(y_test, y_pred))
    print()

0 LogisticRegression 0.8533333333333334
0 RandomForestClassifier 0.84
0 GaussianNB 0.84
0 VotingClassifier 0.8533333333333334

5 LogisticRegression 0.8266666666666667
5 RandomForestClassifier 0.8533333333333334
5 GaussianNB 0.8533333333333334
5 VotingClassifier 0.8533333333333334

7 LogisticRegression 0.8933333333333333
7 RandomForestClassifier 0.8666666666666667
7 GaussianNB 0.8666666666666667
7 VotingClassifier 0.88

31 LogisticRegression 0.88
31 RandomForestClassifier 0.8666666666666667
31 GaussianNB 0.9333333333333333
31 VotingClassifier 0.8933333333333333

47 LogisticRegression 0.7866666666666666
47 RandomForestClassifier 0.7733333333333333
47 GaussianNB 0.8
47 VotingClassifier 0.8133333333333334

51 LogisticRegression 0.84
51 RandomForestClassifier 0.7866666666666666
51 GaussianNB 0.8133333333333334
51 VotingClassifier 0.8266666666666667

58 LogisticRegression 0.8533333333333334
58 RandomForestClassifier 0.8133333333333334
58 GaussianNB 0.8266666666666667
58 VotingClassifier 0.8

62 LogisticRegression 0.8666666666666667
62 RandomForestClassifier 0.84
62 GaussianNB 0.8533333333333334
62 VotingClassifier 0.88

66 LogisticRegression 0.8533333333333334
66 RandomForestClassifier 0.84
66 GaussianNB 0.8666666666666667
66 VotingClassifier 0.88

75 LogisticRegression 0.92
75 RandomForestClassifier 0.84
75 GaussianNB 0.9066666666666666
75 VotingClassifier 0.92

86 LogisticRegression 0.8133333333333334
86 RandomForestClassifier 0.84
86 GaussianNB 0.8266666666666667
86 VotingClassifier 0.84

88 LogisticRegression 0.8
88 RandomForestClassifier 0.7733333333333333
88 GaussianNB 0.8133333333333334
88 VotingClassifier 0.8266666666666667

126 LogisticRegression 0.88
126 RandomForestClassifier 0.8933333333333333
126 GaussianNB 0.8533333333333334
126 VotingClassifier 0.88

131 LogisticRegression 0.8666666666666667
131 RandomForestClassifier 0.84
131 GaussianNB 0.84
131 VotingClassifier 0.8533333333333334

135 LogisticRegression 0.8266666666666667
135 RandomForestClassifier 0.8266666666666667
135 GaussianNB 0.8133333333333334
135 VotingClassifier 0.84

141 LogisticRegression 0.8133333333333334
141 RandomForestClassifier 0.7866666666666666
141 GaussianNB 0.8
141 VotingClassifier 0.7866666666666666

142 LogisticRegression 0.84
142 RandomForestClassifier 0.8266666666666667
142 GaussianNB 0.8533333333333334
142 VotingClassifier 0.84

162 LogisticRegression 0.84
162 RandomForestClassifier 0.8133333333333334
162 GaussianNB 0.8133333333333334
162 VotingClassifier 0.8533333333333334

201 LogisticRegression 0.8266666666666667
201 RandomForestClassifier 0.88
201 GaussianNB 0.8666666666666667
201 VotingClassifier 0.8533333333333334

243 LogisticRegression 0.84
243 RandomForestClassifier 0.8266666666666667
243 GaussianNB 0.8533333333333334
243 VotingClassifier 0.84

In [39]:
voting_clf = VotingClassifier(estimators=[('lr', log_clf), ('rf', rnd_clf),('svc', svm_clf),('nb', nbg_clf)], voting='hard')

In [41]:
for clf in (log_clf, rnd_clf, nbg_clf, svm_clf, voting_clf):
    clf.fit(x_train, y_train)
    y_pred = clf.predict(x_test)
    print(clf.__class__.__name__, accuracy_score(y_test, y_pred))

LogisticRegression 0.881578947368421
RandomForestClassifier 0.8289473684210527
GaussianNB 0.881578947368421
SVC 0.6973684210526315
VotingClassifier 0.868421052631579